/*! CSS Used from: https://www.labreferencia.com/autenticar-resultado/style.css */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}

.vs-con-input-label {
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 200px;
}

.vs-con-loading__container {
    position: relative;
    overflow: hidden;
}

.vx-card {
    width: 100%;
    background: #fff;
    border-radius: .5rem;
    display: block;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

    .vx-card .vx-card__collapsible-content {
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

        .vx-card .vx-card__collapsible-content.vs-con-loading__container {
            overflow: unset;
        }

        .vx-card .vx-card__collapsible-content img {
            display: block;
        }

.full-page-bg-color {
    background-color: #eff2f7;
}

.vx-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

    .vx-row > .vx-col {
        padding: 0 1rem;
    }

.d-theme-dark-bg {
    background-color: #fff;
}

.hidden {
    display: none !important;
}

.items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.justify-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.h-screen {
    height: 100vh !important;
}

.text-sm {
    font-size: .875rem !important;
}

.m-0 {
    margin: 0 !important;
}

.m-auto {
    margin: auto !important;
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mt-8 {
    margin-top: 2rem !important;
}

.mb-8 {
    margin-bottom: 2rem !important;
}

.mb-32 {
    margin-bottom: 8rem !important;
}

.px-10 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.py-12 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.w-11\/12 {
    width: 91.66667% !important;
}

.w-full {
    width: 100% !important;
}

.hidden {
    display: none;
}

@media (min-width:576px) {
    .sm\:block {
        display: block !important;
    }

    .sm\:hidden {
        display: none !important;
    }

    .sm\:w-4\/5 {
        width: 80% !important;
    }
}

@media (min-width:768px) {
    .md\:block {
        display: block !important;
    }

    .md\:hidden {
        display: none !important;
    }

    .md\:text-base {
        font-size: 1rem !important;
    }

    .md\:p-8 {
        padding: 2rem !important;
    }

    .md\:w-3\/5 {
        width: 60% !important;
    }

    .md\:w-full {
        width: 100% !important;
    }
}

@media (min-width:992px) {
    .lg\:block {
        display: block !important;
    }

    .lg\:hidden {
        display: none !important;
    }

    .lg\:w-1\/2 {
        width: 50% !important;
    }

    .lg\:w-3\/4 {
        width: 75% !important;
    }
}

@media (min-width:1200px) {
    .xl\:w-3\/5 {
        width: 60% !important;
    }
}
/*! CSS Used from: Embedded */
h3 {
    color: #302e2eb0 !important;
}
/*! CSS Used from: Embedded */
table.detail td {
    padding: 2px;
}